
<h1>@ViewData["Title"]</h1>

<body style="background-color:lightgray">
    <h2>EMPLOYEE LOGIN</h2>
    <br />
    <!-- <form asp-controller="EmployeeLoginsController" asp-action="Details" >
           asp-route-returnurl="@ViewData["Intex.cshtml"]"
           method="post" class="form-horizontal" role="form">

     </form> -->


</body>
