
<h1>@ViewData["Title"]</h1>

<body style="background-color:lightgray">
    <h2>EMPLOYEE LOGIN</h2>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeLogins" asp-action="Login">

        <img src="~/employee.PNG" />
    </a>
</body>
