
<h1>@ViewData["Title"]</h1>

<body style="background-color:lightgray">
    <h2>PRIVACY POLICY</h2>
    <br />
    <div>
        <img src=~/banner-about-us_02_small.jpg />
    </div>
    <br />
    <p>
        By using this application you agree in do not displose any employee or customer information to external stakeholders.
    </p>
</body>