
@model FinalDatabaseFirst.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}


<body style="background-color:lightgray">
    <h2>EMPLOYEE LOGIN</h2>
    <br />

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        Username: <input asp-for="loginData.EmployeeLoginId" value="username" /><br />
        Password: <input asp-for="loginData.Pass" value="password" /><br />
        <input type="submit" value="Login" />
        @Html.AntiForgeryToken()

        <!--
        <div class="form-group">
            <label asp-for="loginData.EmployeeLoginId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="loginData.EmployeeLoginId" class="form-control" />
                <span asp-validation-for="loginData.EmployeeLoginId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="loginData.Pass" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="loginData.Pass" class="form-control" />
                <span asp-validation-for="loginData.Pass" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Log In</button>
                @Html.AntiForgeryToken()
            </div>
        </div>
             -->
    </form>
</body>
